
@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/agrandir-textbold-webfont.woff2') format('woff2'),
         url('../fonts/agrandir-textbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/agrandir-regular-webfont.woff2') format('woff2'),
         url('../fonts/agrandir-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/agrandir-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/agrandir-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background:rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
    background: rgb(25,41,51);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}


body {
    font-family: Agrandir;
    background-image: url("../images/s2.jpg");
    background-size: cover;
    background-attachment: fixed;
    color:white;
}

div.body-box {
    
    margin-top:7%;
    padding-left: 150px;
    padding-right:150px;
}

div.cat-header {
    opacity: 0.41;
    background-color: white;
    color: rgb(77, 52, 42);
    font-weight: bold;
    text-align: center;
    line-height:30px;
    text-transform:uppercase;
}

div.cat-content {
    text-transform:capitalize;
}

div.note-text {
    font-style: italic;
    text-align: center;
    color: rgb(217, 217, 217);
}

.submit-button {
    color: rgb(77, 52, 42) !important;;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white !important;
}


label.ingr-label {
    opacity: 0.41;
    background-color: white;
    color: rgb(77, 52, 42);
    font-weight: bold;
    text-align: center;
    line-height:30px;
    text-transform:capitalize;
}

div.spacer {
    line-height:2px;
}

.slider input[type=range]{
    width:80%;
}

h1 {
    font-weight: bold;
    font-size: 27pt;
}
.table-content {
    max-height:550px;
}
.table-content table {
    border:none;
    background-color: transparent;
}


.table-content table th{
    text-align: left;
    position: sticky;
    top: 0; 
    background-color:rgb(25,41,51);
    vertical-align: top;
    padding:10px;
    border:none;
}


.table-content table td{
    padding:10px;
    text-transform:capitalize;
    border-bottom: 1px solid white;
    vertical-align: top;
}

.table-content table td a {
    color:white !important;
    text-decoration: none !important;
}

.toggle.btn {
    margin-left:20px;
    min-height:45px;
    min-width:30px;
}

h1.top-heading {
    float:left;
}

.carousel-item {
    min-height: 400px;
}

#uploadBtn {
    cursor: pointer;
}

#uploadPreview {
    max-width:100%;
    max-height:300px;
    
}

#uploadImg {
    visibility: hidden;
}

mark {
    background-color: rgba(255,243,205,0.4);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 5px;
    left: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .sliderbar {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sliderbar:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input + .sliderbar {
    background-color: #2196F3;
  }
  
  input:focus + .sliderbar {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sliderbar:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .sliderbar.round {
    border-radius: 34px;
  }
  
  .sliderbar.round:before {
    border-radius: 50%;
  }