<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<style>
:checked + label {
  background-color: pink;
}
</style>
<body>
    <form name="ingredients_list"  method="post" action="/results">
        <h1>Tell Us What You Have:</h1>
        {% for ingredient in ingredients %}
        <input type="checkbox" id="{{ ingredient }}" name="ingredients" value="{{ ingredient }}">
        <label for="{{ ingredient }}">{{ ingredients[ingredient] }}</label><br>
        {% endfor %}
        <h1>Or, Upload Image</h1>
       <input type="file" />
        <h1>Sampling:</h1>
        <table>
            <tr>
                <td> Select One </td>
                <td>
                    <fieldset id="sampling_type">
                        <input type="radio" value="" name="sampling_type"> I want to use as many ingredients as possible in one recipe <br/>
                        <input type="radio" value="" name="sampling_type"> I want a few recipes with different combinations of ingredients
                    </fieldset>
                </td>
            </tr>
        </table>

        <input type="hidden" name="difficulty" value="super easy" /> 
        <input type="hidden" name="difficulty" value="easy" /> 
        <input type="hidden" name="difficulty" value="medium" /> 
        <input type="hidden" name="difficulty" value="hard" /> 
        <input type="hidden" name="reco_range" value="5" /> 
        <input type="hidden" name="steps" value="10" /> 
        <input type="hidden" name="ingrno" value="13" /> 
        <input type="hidden" name="prept" value="15" /> 

        <input type="submit" name="submit" value="Show Me!"/>
    </form>


</body>
</html>